/* ------ CART ---------------- */
.cart-page-button{
    margin-left: 2vw;
}
.cart-container{
    display: grid;
    grid-template-columns: 20% auto 10% 10% 10% 10%;
    grid-template-rows: 9vw 9vw;
    background-color: var(--green);
    border-bottom: 3px solid var(--green-hover);
}
.cart-item{ 
    align-self: flex-end; 
    font-size: var(--font-size-s);  
    font-family: "lemon-sans-next", sans-serif;
    color: var(--yellow);
}
/*image*/
.crt-img{
    padding-left: 3vw;  
    grid-row: 1/3;
    align-self: center;
    justify-content: center;
}
.crt-img>img{
    width: 10vw;
    height: 15vw;
}
/*title*/
.crt-title{
    max-width: 20vw;
    text-align:left;
    justify-content: center;
    align-items:center;
}
.crt-title>h1{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: bold;
    color: var(--yellow);
    font-size: 2vw;
}
.crt-title>h2{
    font-family: "lemon-sans-next", sans-serif;
    font-style: italic;
    color: var(--yellow);
    font-size: var(--font-size-s);
}

.crt-button{
    grid-column: 6;
    grid-row:2/3;
    align-self: center;
}
.crt-button>button{
    font-family: "lemon-sans-next", sans-serif;
    font-style: normal;
    border-radius: 20px;
    background-color: var(--green);
    color: white;
    text-align: center;
    font-size: var(--font-size-s);
    border: 2px solid white;    
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.crt-button>button:hover{
    background-color: var(--green-hover);
}
.crt-quantity{
    grid-column: 3;
    align-self: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    background: var(--darkorange);
    color: var(--green);
    font-weight: bold;
    text-align: center;
}
.crt-price{
    grid-column: 4;
    align-self: center;
}
.crt-total{
    grid-column: 5;
    align-self: center;
    font-weight: bold;
}

/*-----CART PAGE TITLES ----------------------------*/
.cart-titles-container,
.cart-elements-container{
    display: grid;
    grid-template-columns: 20% 40% 10% 10% 10% 10%;
}
.cart-titles,
.cart-elements{
    align-self: flex-end; 
    text-align: left;
    font-size: 1.2vw;  
    font-family: "lemon-sans-next", sans-serif;
    color: rgb(62, 62, 62);
    padding-top: 2vw;
    padding-bottom: 1vw;
}
.cart-title-product{
    text-align: center;
    grid-column: 1;
}
.cart-title-quantity{
    grid-column: 3;
}
.cart-title-price{
    grid-column: 4;
}
.cart-title-total{
    grid-column: 5;
}

/*-------CART ELEMENTS BOTTOM -------------------------------------------------*/
.cart-element-discountcode{
    display:inline-block;
    text-align: left;
    grid-column: 1;
    margin-left: 1vw;
}
span.dscnt-cde{
    display: inline-block;
    font-size: var(--font-size-xs);
    padding: 4px;
}
.cart-element-form{
    text-align: right;
    grid-column: 2;
    padding-right: 10px;
}
.cart-element-form>form{
    font-size: var(--font-size-s);
    color: var(--green);
}
.cart-element-apply{
    grid-column:3;

}
.cart-element-subtotal{
    text-align: right;
    grid-column: 4;
    padding-right: 2vw;
    color: var(--darkorange);
}
.cart-element-total{
    font-size: var(--font-size-s);
    font-weight: bold;
    grid-column: 5;
    color: var(--darkorange);
}
.cart-element-tax-text{
    grid-column:10;
    font-size: var(--font-size-xs);
    text-align: center;
}

input[type=discount-text]  {
    width: 20%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px  solid var(--green);
    border-radius: 20px;
    font-family: "lemon-sans-next", sans-serif; 
    font-size: var(--font-size-xs);
  }
  input[type=discount-text]:focus {
    background-color: rgb(136, 205, 191);
  }

.cart-elements-buttons{
    text-align: right;
    margin-right: 5vw;
    padding:2vw;
}
.cart-elements-buttons>p{
    color: var(--red);
    font-size: var(--font-size-xs);
    font-family: "lemon-sans-next", sans-serif;
    padding-bottom: 2.2vw; 
}
.cart-elements-buttons>img{
    width:2vw; 
}

@media only screen and (max-width:768px){
    .crt-quantity{
        border-radius: 50%;
        width: 5px;
        height: 5px;
        padding: 3px;
}
.cart-titles,
.cart-elements,
.cart-item{
    font-size:2vw;
}

.cart-element-total{

    font-size: var(--font-size-m);
}

.cart-elements-buttons>p{
    font-size: var(--font-size-m);
}


}

/*-----ORDER items----*/
.orderitems {
    display: flex;
    justify-content: flex-start;
    background-color: var(--green);
}

.orderitems-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2vw;
    justify-content: space-around;
}

.orderitems-container h1{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: bold;
    color: var(--yellow);
    font-size: var(--font-size-s);
    margin-left: 4vw;
}
.orderitems-container h2{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: normal;
    color: var(--yellow);
    font-size: var(--font-size-s);
    margin-left: 4vw;
}
.orderitems-container h3{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: bold;
    color: var(--yellow);
    font-size: var(--font-size-s);
    margin-left: 10vw;
}
.orderitems-container h4{
    font-family: "lemon-sans-next", sans-serif;
    color: var(--yellow);
    font-size: var(--font-size-s);
    margin-left: 10vw;
    text-align: right;
    padding: 0.5vw;
}
.orderitems-container h4>b{
    font-weight: bold;
    padding-left: 3vw;
}
.order-item {
    display: grid;
    grid-template-columns: 20% auto 35%;
    text-align: left;
    align-items: center;
    margin-bottom: 20px;
}

.order-item img{
    width: 10vw;
    height: auto;
    margin-right: 10px;
}
.order-item-image{
    position:relative;
    padding-top: 1.2vw;
    display:inline-block;
}
.number-badge{
    position: absolute;
    right:-2.2vw;
    top:0.2vw;
    background: var(--darkorange);
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: var(--green);
    padding:5px 10px;
    font-family: "lemon-sans-next", sans-serif;
    font-weight: bold;
    font-size: var(--font-size-s);
}

/*--- ORDER DETAILS --*/

.orderdetails {
    display: flex;
    flex-wrap: wrap;

}

.orderdetails-container {
    padding: 20px;
    margin-left:1.1vw;
    flex: 1 1 50%;
}
.orderdetails-container>form{
    display:table;
    width:100%;
}
.orderdetails-container>form>h2{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--red);
    padding-bottom: 1.2vw;
    padding-top: 1.2vw;
}

.orderdetails-container>form>label{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-xs);
    color: var(--green);
    padding: 15px;
}

input[type=text] , 
input[type=email],
input[type=tel],
input[type=number] {
    text-align: left;
    display: flex;
    width: 95%;
    padding: 12px 20px;
    box-sizing:border-box;
    border: 2px  solid var(--green);
    border-radius: 20px;
    font-family: "lemon-sans-next", sans-serif; 
  }

.orderdetails-container>form{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    padding-bottom: 1vw;
    padding-top: 1vw;
}
.delivery,
.payment {
    align-content: center;
    width: fit-content;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box;
    border: 2px  solid var(--green);
    border-radius: 25px;
}
.order{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.delivery-method,
.payment-details{
    padding-bottom: 4vw;
    padding-top: 4vw;
}
@media only screen and (max-width: 768px){
    .orderdetails{
        flex-direction: column;
        justify-content: center;
    }

    .orderdetails-container{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .orderdetails-container >form>h2{
        font-size: var(--font-size-l);
    }
    .orderdetails-container >form>label{
        font-size: var(--font-size-m);
    }
    .orderitems{
        display: none;
    }

    .order{
        display: flex;
        justify-content: center;
    }
    
    .delivery,
    .payment{
        width: 100%;
    }

    
}

/*-- Order Confirmation --*/ 
.orderconfirmation {
    display: flex;
}

.orderconfirmation-container{
    float: left;
    padding: 20px;
}

.orderconfirmation-container-intro{
    display: flex;
    flex-direction: row;
    padding: 3vw;
}
.orderconfirmation-container-intro img{
    width: 10vw;
    align: center;
}
.orderconfirmation-container-intro h2{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    opacity: 60%;
    padding-top: 3vw;
    padding-left: 2vw;
    padding-bottom: 1vw;
}
.orderconfirmation-container-intro h3{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    padding-left: 2vw;
}
 
.orderconfirmation-container-location{
    display: flex;
    flex-direction: column;
    padding: 3vw;
}

.orderconfirmation-container-location h2{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    padding-left: 2vw;
    padding-bottom: 1vw;
}
.orderconfirmation-container-location h3{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    padding-left: 2vw;
}
.orderconfirmation-container-location h4{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-xs);
    color: var(--green);
    padding-left: 2vw;
    padding-top: 3vw;
}

.orderconfirmation-container-inform {
    display: flex;
    flex-direction: column;
    padding: 3vw;
}

.orderconfirmation-container-inform h2{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    padding-left: 2vw;
    padding-bottom: 1vw;
}

.orderconfirmation-container-inform h3{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    padding-left: 2vw;
    padding-bottom: 1vw;
}

.orderconfirmation-container-inform h4{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-xs);
    color: var(--green);
    padding-left: 2vw;
    padding-bottom: 2vw;
}

@media only screen and (max-width: 768px){
    .orderconfirmation-container-intro h2,
    .orderconfirmation-container-intro h3,
    .orderconfirmation-container-location h2,
    .orderconfirmation-container-location h3,
    .orderconfirmation-container-inform h2,
    .orderconfirmation-container-inform h3{
        font-size: var(--font-size-l);
    }

    .orderconfirmation-container-inform h4,
    .orderconfirmation-container-location h4{
        font-size: var(--font-size-m);
    }
    .orderconfirmation-container-intro img{
        display: none;
}
}
