

/*-- NAVIGATION BAR --*/
#topnav {
    overflow: hidden;
    background-color: var(--grey); 
    padding: 10px 10px;
    position: fixed;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 99;

}

#topnav a{
    float: left;
    color: var(--red);
    text-align: center;
    padding: 2vw;
    text-decoration: none;
    font-size: 1.1vw;
    line-height: 17px;
    border-radius: 4px;
    font-family: "lemon-sans-next", sans-serif;
}
/* navbar responsive test 

#topnav a.icon{
    float: left;
}

#topnav #navbar-items{
    float: left;
    margin-left: 20px;
}

#topnav #navbar-items a{
    display: inline-block;
    padding: 10px;
    font-size: var(--font-size-xs);
}

#topnav #navbar-items .dropdown-content{
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#topnav #navbar-items .dropdown-content a{
    padding: 12px 16px;
}
*/
#topnav i{
    padding-left: 7px;

}

#topnav a:hover{
    color: var(--red-hover); 
    transition:0.4s ;
}

#topnav a.split-right{
    float: right;
}
#topnav .split-right{
    padding: 2vw;
}

#topnav #search-icon{
    width: 8px;
    align-items: center;
}


/* logo middle css */ 
#topnav #logo{ 
    float: none;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    transition: 0.4s;
}
 
#topnav a.active{
    background-color: white;
    color: var(--red);

}
/*navbar responsive test
#topnav #navbar-icons {
    float:right;
}

#topnav #navbar-icons a.icon {
    display:inline-block;
    padding: 10px;
    font-size: var(--font-size-xs);
}
/* dropdown button */

.dropdown {
  float: left;
  overflow: hidden;
  padding-top: 0.9vw;
}

.dropdown .dropbtn {
  font-size: 1.1vw;  
  border: none;
  outline: none;
  color: var(--red);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: "lemon-sans-next", sans-serif;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--grey-hover);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display:inline-block;
}
/*-- navbar responsive test
@media screen and (max-width:768px) {
    #topnav #navbar-items,
    #topnav #navbar-icons{
        display: none;
    }

    #topnav a.icon {
        display: block;
    }

    #topnav.responsive #navbar-items,
    #topnav.responsive #navbar-icons{
        display: block;
        float: none;
        text-align: center;
    }

    #topnav.responsive #navbar-items .dropdown-content{
        position: static;
    }
} */


/*-------------------Footer------------------------*/
#footer-tagline{
    font-family: "lemon-sans-next", sans-serif;
    font-size: 1vw;
    padding: 1.1vw;
    text-align: center;
    font-size: var(--font-size-xs);
}

.ftr-green{
    color: var(--green);
}
.ftr-orange{
    color: var(--orange);
}
.ftr-drkorange{
    color: var(--darkorange);
}
.ftr-red{
    color: var(--red);
}


.row{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.footer{
    float: left;
    justify-content: center;
    padding: 10px;
    height: 150px;
}

/*-------------TEXT---------------------------------*/
.f-text{
    grid-column: 1/5;
    font-size: 1.5vw;
    padding-left: 3vw;
    padding-top: 20px;
    font-family: "lemon-sans-next", sans-serif;
    color: var(--red);
}    

.f-text>h1{
    font-family: "alta-california", sans-serif;
    font-size: var(--font-size-l);
}  

.f-text>h2{
    font-weight: bold;
    font-family: "dharma-gothic-c", sans-serif;
    font-size: var(--font-size-m);
} 
.f-text>h3{
    padding-top: 10px;
    font-size: var(--font-size-s);
} 
/*-------------SOCIAL ICONS---------------------------------*/
.f-icons{
    text-decoration: none;
    justify-content: end;
    vertical-align: middle;
    border: none !important;
    padding-top: 4.5vw;
}

.f-icons>a>{
    text-decoration: none;
    border: none !important;
}

.f-icons>a>img{
    padding:3px;
    width: 2vw;
    text-decoration: none;
    justify-content: center;
    vertical-align: middle;
    border: none !important;
}
.f-icons>a>img{
    padding:4px;
}

/*-------------LOGO---------------------------------*/
.fimg{
    vertical-align: middle;
    padding-top: 3vw;
}

/*---------BREADCRUMBS------------------------------------------------------------*/
.bread-crumbs{
    padding-top: 11.4vw;
}
.bread-crumbs>ul{
    text-decoration:none;
    font-family: "lemon-sans-next", sans-serif;
    margin: 1.5vw;
    text-decoration: none;
}
.bread-crumbs>ul>li{
    display: inline;
    color: var(--red);
}
.bread-crumbs>ul>li>a{
    text-decoration:none;
    color: var(--red);
}
.bread-crumbs a:hover{
    color: var(--red-hover);

}
/* -------DESCRIPTION HEADING ----*/
.description{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    padding: 40px;
}

.description>h1{
    font-family: "dharma-gothic-c", sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px;
    color: var(--red);
    font-size: var(--font-size-xxl);
    margin-top: 0;    
}
.description>p{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: var(--red);
    font-size: var(--font-size-s);
    max-width: 60vw;
    margin-top: 20px;  
    padding-bottom: 3vw;  
}

@media screen and (max-width: 768px){
   .description p{
    font-size: var(--font-size-m);
   }
   .description{
    padding: 20px;
   }
   .bread-crumbs{
   margin-top: 15vw;
}
#footer-tagline{
    font-size: 2vw;
}
.footer{
    height:70px;
}

}