#topnav {
    overflow: hidden;
    background-color: grey; /* temp colour needs to be changed*/ 
    padding: 10px 10px;
    position: fixed;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 99;
}

#topnav a{
    float: left;
    color: #f2f2f2; /* temp colour needs to be changed*/ 
    text-align: center;
    padding: 2vw;
    text-decoration: none;
    font-size: 1.1vw;
    line-height: 17px;
    border-radius: 4px;

}

#topnav a:hover{
    color: var(--red);
    transition:0.4s ;
}

#topnav a.split-right{
    float: right;
}
#topnav .split-right{
    padding: 2vw;
}

#topnav #search-icon{
    width: 8px;
    align-items: center;
}


/* logo middle css */ 
#topnav #logo{ 
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    transition: 0.4s;
}
 
#topnav a.active{
    background-color: white;
    color: var(--red);

}

#footer-tagline{
    text-align: center;
    font-size: 7px;
    padding: 3px;

}

/* dropdown button */
.dropdown {
    float: left;
    overflow: hidden;
    transition: 0.4s;
    padding-top: 6.5px;
  }

  .dropdown .dropbtn {
    font-size: 1.1vw;  
    border: none;
    outline: none;
    color: white;
    padding: 2vw;
    background-color: inherit;
    font-family: inherit;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    color: var(--red);
  }
  
  .dropdown-content {
    display: none;
    position: 10px;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



/* Footer  as flex box*/ 
#footer-tagline{
    font-family: "lemon-sans-next", sans-serif;
    font-size: 1vw;
    padding: 2vw;
}

.footer{
    float: left;
    justify-content: center;
    padding: 10px;
    height: 150px;
}

.text{
    width:60%;
    font-size: 1.5vw;
    padding-left: 3vw;
    padding-top: 20px;
    font-family: "lemon-sans-next", sans-serif;
    color: var(--red);
}    

.text>h1{
    font-family: "alta-california", sans-serif;
    font-size: 4vw;
}  

.icons{
    width: 10%;
    text-decoration: none;
    justify-content: center;
    vertical-align: middle;
    border: none !important;
    padding-top: 4.5vw;
}

.icons>a>{
    text-decoration: none;
    border: none !important;
}
.icons>a>img{

    padding:3px;
    text-decoration: none;
    justify-content: center;
    vertical-align: middle;
    border: none !important;
}

.fimg{
    width: 15%;
    vertical-align: middle;
    padding-top: 3vw;
}
