#topnav {
    overflow: hidden;
    background-color: var(--grey); 
    padding: 10px 10px;
    position: fixed;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 99;

}

#topnav a{
    float: left;
    color: var(--red);
    text-align: center;
    padding: 2vw;
    text-decoration: none;
    font-size: 1.1vw;
    line-height: 17px;
    border-radius: 4px;
    font-family: "lemon-sans-next", sans-serif;
}

#topnav a:hover{
    color: var(--red-hover); 
    transition:0.4s ;
}

#topnav a.split-right{
    float: right;
}
#topnav .split-right{
    padding: 2vw;
}

#topnav #search-icon{
    width: 8px;
    align-items: center;
}


/* logo middle css */ 
#topnav #logo{ 
    float: none;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    transition: 0.4s;
}
 
#topnav a.active{
    background-color: white;
    color: var(--red);

}

/* dropdown button */

.dropdown {
  float: left;
  overflow: hidden;
  padding-top: 0.9vw;
}

.dropdown .dropbtn {
  font-size: 1.1vw;  
  border: none;
  outline: none;
  color: var(--red);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: "lemon-sans-next", sans-serif;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--grey-hover);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display:inline-block;
}


/* Footer */
#footer-tagline{
    font-family: "lemon-sans-next", sans-serif;
    font-size: 1vw;
    padding: 1.1vw;
    text-align: center;
    font-size: var(--font-size-xs);
}

.row{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.footer{
    float: left;
    justify-content: center;
    padding: 10px;
    height: 150px;
}

/*-------------TEXT---------------------------------*/
.f-text{
    grid-column: 1/5;
    font-size: 1.5vw;
    padding-left: 3vw;
    padding-top: 20px;
    font-family: "lemon-sans-next", sans-serif;
    color: var(--red);
}    

.f-text>h1{
    font-family: "alta-california", sans-serif;
    font-size: 4vw;
}  

/*-------------SOCIAL ICONS---------------------------------*/
.f-icons{
    text-decoration: none;
    justify-content: end;
    vertical-align: middle;
    border: none !important;
    padding-top: 4.5vw;
}

.f-icons>a>{
    text-decoration: none;
    border: none !important;
}

.f-icons>a>img{
    padding:3px;
    width: 2vw;
    text-decoration: none;
    justify-content: center;
    vertical-align: middle;
    border: none !important;
}
.f-icons>a>img{
    padding:4px;
}

/*-------------LOGO---------------------------------*/
.fimg{
    vertical-align: middle;
    padding-top: 3vw;
}
