:root{
--green: rgba(23, 88, 75, 1);
--red: rgba(207, 42, 30, 1);
--darkorange: rgba(236 , 85, 33,1);
--orange: rgba(231, 119, 39, 1);
--yellow: rgba(231, 153, 45, 1);

--font-size-xs: 
--font-size-s:
--font-size-m:
--font-size-l:
--font-size-xl:
--font-size-xxl:
--font-size-xxxl:


}