

.book img{
    width: 13vw;
    height: 19.76vw;
    margin-bottom: 5px;
    text-decoration: none!important;
    border: 0 !important;
}
.book >h2{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--yellow);
    margin-bottom: 2px;
    text-decoration: none!important;
}

.book>a>h2{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--yellow);
    margin-bottom: 2px;
    text-decoration: none!important;
}
/* idk which of made the under line disappear and im scared to change it */
.book>a:link{
    text-decoration: none!important;
}
.book>a:visited{
    text-decoration: none!important;
}
.book>a:hover{
    text-decoration: none!important;
}
.book>a:hover{
    text-decoration: none!important;
}
.book>a>h2:link{
    text-decoration: none!important;
}
.book>a>h2:visited{
    text-decoration: none!important;
}
.book>a>h2:hover{
    color: var(--yellow-hover);
    text-decoration: none!important;
}
.book>a>h2:hover{
    text-decoration: none!important;
}

.book > h3{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: var(--font-size-xs);
    color: var(--yellow);
    margin-bottom: 2px;
    text-decoration: none!important;
}
.book > h4{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-xs);
    color: var(--orange);
    margin-bottom:2px;
    text-decoration: none!important;
}
.book > button{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 20px;
    background-color: var(--orange);
    color: white;
    text-align: center;
    font-size: var(--font-size-xs);
    outline: none;
    margin-bottom: 10px;
}
.book >button:hover{
    background-color: var(--darkorange);
}
.book >button:active{
    background-color: var(--darkorange);
    transform: scale(0.95);
}

/*----------------------------------- BOOKS CONTAINER-------------------------------------------------*/
/* FOR DESKTOP*/
@media (min-width: 768px){
.homepage-books-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.book{
        display: inline-block;
        width: calc(25% - 30px);
        text-align:center;
        margin-right: 20px;
        vertical-align: auto;
        padding-left: 1vw;
        padding: 15px;
        box-sizing: border-box;

    }
}
@media (max-width: 767px){
    .homepage-books-container{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    .book{
            display: inline-block;
            width: calc(50% - 20px);
            text-align:center;
            margin-right: 20px;
            vertical-align: auto;
            padding-left: 1vw;
            padding: 5px;
            box-sizing: border-box;
    
        }
    }
.homepage-books{
    background-color: var(--green);
    padding: 20px 0;
}

.homepage-books > h2{
    font-family: "dharma-gothic-c", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: var(--font-size-xxl);
    letter-spacing: 1px;
    color: var(--darkorange);    
    margin-left:4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.homepage-books > h2> a{
    text-decoration: none;
    color: var(--yellow); 
}
.homepage-books > h2> a:hover{
    text-decoration: none;
    color: var(--red); 
}
/*---------- SUBCRIBE-------------------------------------------------------------------*/
.homepage-subscribe > h2{
    font-family: "dharma-gothic-c", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: var(--font-size-xxl);
    letter-spacing: 1px;
    color: var(--green);
    margin-left:4vw;
    padding-top: 2vw;
}

.homepage-subscribe-container{
    display: grid;
    height: 400px;
    align-content: space-around;
    grid-template-columns: auto auto;
    gap:10px;
    padding: 10px;
}
.homepage-subscribe-container .subsribe-image>img{
    padding-left: 4vw;
}
.homepage-subscribe-container .subcribe-text{
    text-align: none;
    max-width: 30vw;
}

.homepage-subscribe-container .subcribe-text> p{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    padding-bottom: 20px;
}
.homepage-subscribe-container .subcribe-text> button{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 20px;
    background-color: var(--green);
    color: white;
    text-align: center;
    font-size: var(--font-size-s);
    outline: none;
    margin-bottom: 10px;
}

.homepage-subscribe-container .subcribe-text> form{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--green);
    padding-bottom: 30px;
}
/* subcribe text fields */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box;
    border: 2px  solid var(--green);
    border-radius: 20px;
  }
  input[type=text]:focus {
    background-color: rgb(136, 205, 191);
  }


/* --------------------- CATERGORIES CONTAINER---------------------------------------------------------------------*/

.homepage-category-container{
    display: flex;
    justify-content: center;
    height: 300px;

}
/*----------------------HOME PAGE INTRO ------------------------------------- */
.homepage-intro-container{
    display: flex;
    height: 300px;
    padding-top: 150px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.homepage-intro-container #intro-text{
    max-width: 40vw;
    padding: 2vw;
    margin: 10vw;
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--red);
    align-self: center
}

.homepage-intro-container #intro-image{
    align-self: center;
    padding:20px;
}


/*
current classes
for navbar:
.dropdown , .dropbtn , .dropdown-content

for logo:
.logo

for homepage:
text at the beginning: .homepage
for new release books: .homepage-books , .homepage-books-container
hierarchy of book titling: 
                    <h2> book name </h2>
                    <h3> author name </h3>
                    <h4> price </h4>
                    <button> add to cart </button>
for category books : .homepage-books, .homepage-category-container

for fiction page:
fiction title and description : .description
category books : .books , .fiction-container

queer fiction page:
 queer fiction title and description : .description
 books : .books, .books-container

single product page:
product : .single-product, .single-product-container
you may like: .suggestion-books



