nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.navbar{

}

.logo{
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

.single-product-container{
    display: flex;
    flex-flow: wrap;
}

.single-product-container > div {
    justify-content: space-between;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
  }

