:root{
--green: rgba(23, 88, 75, 1);

--red: rgba(207, 42, 30, 1);
--red-hover: rgb(151, 27, 18);

--darkorange: rgba(236 , 85, 33,1);

--orange: rgba(231, 119, 39, 1);
--orange-hover: rgb(170, 84, 23);

--yellow: rgba(231, 153, 45, 1);
--yellow-hover: rgb(184, 120, 30);

--font-size-xs: 1vw;
--font-size-s: 2vw;
--font-size-m: 3vw;
--font-size-l: 5vw;
--font-size-xl: 7vw;
--font-size-xxl: 9vw;
--font-size-xxxl:11vw;

}

/*\
ADD LETTER SPACING 1PX TO ALL DHARMA GOTHIC

Dharma Gothic C Regular
font-family: "dharma-gothic-c", sans-serif;
font-weight: 400;
font-style: normal;

Dharma Gothic C Regular Italic
font-family: "dharma-gothic-c", sans-serif;
font-weight: 400;
font-style: italic;

Dharma Gothic C Bold
font-family: "dharma-gothic-c", sans-serif;
font-weight: 700;
font-style: normal;

Dharma Gothic C Bold Italic
font-family: "dharma-gothic-c", sans-serif;
font-weight: 700;
font-style: italic;

Dharma Gothic E Regular
font-family: "dharma-gothic-e", sans-serif;
font-weight: 400;
font-style: normal;

Dharma Gothic E Regular Italic
font-family: "dharma-gothic-e", sans-serif;
font-weight: 400;
font-style: italic;

Dharma Gothic E Bold
font-family: "dharma-gothic-e", sans-serif;
font-weight: 700;
font-style: normal;

Dharma Gothic E Bold Italic
font-family: "dharma-gothic-e", sans-serif;
font-weight: 700;
font-style: italic; 

Lemon Sans Next Regular
font-family: "lemon-sans-next", sans-serif;
font-weight: 400;
font-style: normal;

Lemon Sans Next Regular Italic
font-family: "lemon-sans-next", sans-serif;
font-weight: 400;
font-style: italic;

Lemon Sans Next Bold
font-family: "lemon-sans-next", sans-serif;
font-weight: 700;
font-style: normal;

Lemon Sans Next Bold Italic
font-family: "lemon-sans-next", sans-serif;
font-weight: 700;
font-style: italic;*/