.topnav {
    position: relative;
    background-color: grey;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--font-size-s);

}

.topnav a:hover{
    color: var(--red);
}

.topnav a.split-right{
    float: right;
}

.split-middle a{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-xxl);



}
 
.topnav a.active{
    background-color: white;
    color: var(--red);

}
