/* ---- PRODUCT PAGE TOP CONTAINER ----*/
.single-product{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    padding: 15vw;
}

.single-product-image>img{
    width: 20vw;
    align-self: flex-start; 
    margin-right: 8vw;
}
.single-product-container{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
.single-product-container>h1{
    font-family: "dharma-gothic-c", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: var(--font-size-l);
    letter-spacing: 1px;
    color: var(--green);    
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
.single-product-container>h2{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: var(--font-size-s);
    color: var(--yellow);    
    padding-bottom: 1vw;
}
.single-product-container>h3{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--font-size-s);
    color: var(--orange);    
    padding-bottom: 1vw;
}
.single-product-container p{
    font-family: "lemon-sans-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-xs);
    color: var(--green);    
    padding-bottom: 1vw;
}
.back-button-product-page{
    padding-top: 2vw;
    text-align: center;
}
/*-- RESPONSIVE ADJUSTMENTS -- */
@media screen and (max-width: 768px){
.single-product{
    flex-direction: column;
    text-align: flex-start;
    padding: 10vw;
    height: auto;
}
.single-product img{
    align-self: flex-start;
    width: 40vw;
    margin-right: 0;
    margin-bottom: 4vw;
}
.single-product-container{
    align-items: center;
}
.single-product-container p{
    width: 70vw;
    font-size: var(--font-size-m);
}
.single-product-container h1{
    max-width: 80vw;
    font-size: var(--font-size-xxl);
}
.single-product-container h2{
    font-size: var(--font-size-m);
}
.single-product-container h3{
    font-size: var(--font-size-m);
}
}